.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	{
	color: #00C0FF;
}

.navbar-default .navbar-nav>li>a {
	font-weight: bold;
}

div#bs-example-navbar-collapse-1 {
	float: left;
}

img#profile {
	float: left;
}

.intro-header {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background: url(img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	height: 100%;
}

.intro-header2 {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background: url(img/bg-flip.png) no-repeat center center;
	background-size: cover;
	height: 100%;
}

body, html {
	width: 100%;
	height: 100%;
}

.intro-message>h1 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 5em;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.intro-message>h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.banner {
	padding: 25px 0;
	color: #f8f8f8;
	background: url(img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}


#gan {
	background-image: url("img/parpar.png");
	background-repeat: no-repeat;
	width: 357px; height : 614px;
	float: left;
	display: inline-block;
	height: 614px;
}

#ballroom {
	background-image: url("img/ballroom.png");
	background-repeat: no-repeat;
	width: 357px;
	height: 614px;
	    margin-left: 1%;
	float: left;
	display: inline-block;
}

#super {
	margin-left: 1%;
	background-image: url("img/super.png");
	background-repeat: no-repeat;
	width: 357px;
	height: 614px;
	float: left;
	display: block;
}