.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	{
	color: #00C0FF;
}

.navbar-default .navbar-nav>li>a {
	font-weight: bold;
}

div#bs-example-navbar-collapse-1 {
	float: left;
}

img#profile {
	float: left;
}

.intro-header {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background: url(img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	height: 100%;
}

.intro-header2 {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background: url(img/bg-flip.png) no-repeat center center;
	background-size: cover;
	height: 100%;
}

body, html {
	width: 100%;
	height: 100%;
}

.intro-message>h1 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 5em;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.intro-message>h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.banner {
	padding: 25px 0;
	color: #f8f8f8;
	background: url(img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.webImages {
	background-repeat: no-repeat;
	width: 160px;
	height: 256px;
	display: inline-block;
	margin-left: 1%;
	margin-top: 1%;
}

#moments{
	background-image: url("img/moments.png");
}

#gan {
	background-image: url("img/parpar.PNG");
}

#ballroom {
	background-image: url("img/ballroom.png");
}

#super {
	background-image: url("img/super.png");
	clear: right;
}

#tollmans {
	background-image: url("img/tollmans.PNG");
}

.webWrapper {
	width: 100%;
}

/*				FLIP CARDS			*/
.flipcard {
	position: relative;
	width: 160px;
	height: 256px;
	    display: inline-block;
	perspective: 500px;
	margin-left: 1%;
}

.flipcard.v:hover .front, .flipcard.v.flip .front {
	transform: rotateX(180deg);
}

.flipcard.v:hover .back, .flipcard.v.flip .back {
	transform: rotateX(0deg);
}

.flipcard.v .back {
	transform: rotateX(-180deg);
}

.flipcard.h:hover .front, .flipcard.h.flip .front {
	transform: rotateY(180deg);
}

.flipcard.h:hover .back, .flipcard.h.flip .back {
	transform: rotateY(0deg);
}

.flipcard.h .back {
	transform: rotateY(-180deg);
}

.flipcard .front, .flipcard .back {
	position: absolute;
	top: 0px;
	width: 160px;
	height: 256px;
	box-sizing: border-box;
	border-radius:10px;
	transition: all 0.33s ease-in;
	color: white;
	padding: 10px;
	backface-visibility: hidden;
}

/*				FLIP CARDS ENDS			*/