html {
     overflow: hidden;
}
#BG1, #BG2, #BG3, #BG4 {
    background: url(img/stars.gif) !important;
    background-repeat: repeat !important;
}
#gallery {
    width: 800px;
    height: 500px;
    margin-left: 15% !important;
    /* margin: 15% 25%; */
}
.headline {
    font-size: 60px;
    margin: 0 28%;
}
#movies {
    width: 1000px;
    height: 500px;
    margin-left: 8% !important;
}
#moviesTable {
    margin: 5% 20%;
}

#poker {
    background-image: url("img/poker3.png");
    background-repeat: no-repeat;
    width: 680px;
    height: 498px;
    display: block;
    margin-left: 16%;
}
#poker:hover {
    background-position: right;
}
#pokerHead {
    margin-left: 15px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 2em;
    padding: 0px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
}
#pokerHead:hover {
    color: #00c0ff;
    text-shadow: 2px 2px 3px rgba(0,0,0,3);
}
#unity > h1 {
    margin-top: 15%;
    margin-left: 27%;
    display: block;
}
#gan {
    background-image: url("img/kindergaurden.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 391px;
    display: inline-block;
}
#gan:hover {
    background-position: right;
}

#ballroom {

    background-image: url("img/ballroom.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 233px;
    display: inline-block;
}
#ballroom:hover {
    background-position: right;
}

#super {
    margin-left: 1%;
    background-image: url("img/super.png");
    background-repeat: no-repeat;
    width: 900px;
    height: 88px;
    display: block;
}
#super:hover {
    background-position: right;
}

.EXP {
    margin-top: 15%;
    margin-left: 8%;
}
#profile {
    display: inline;
    float: left;
}
.topnav {
    display: inline;
    float: right;
}


@media (max-width: 800px) {
    html{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #gallery, #movies {
          transform: scale(0.4,0.4);
  margin-left: -75% !important;
        float: left;
    }
    #movies {
        margin-left: -100% !important;
    }
}